@font-face {
  font-family: 'FSLola-Medium';
  src: local('FSLola-Medium'), url(./fonts/fslola-medium-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'FSLola-Regular';
  src: local('FSLola-Regular'), url(./fonts/FSLola-Regular.otf) format('opentype');
}


* {
    margin: 0;
    padding: 0;
    color: #0032A0;
    font-family: FSLola-Regular;
   
}

.slider {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    top: 100px;
    scroll-margin-top: 20px;
    
}

.lense-slide {
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    z-index: -1;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    
   
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 12px;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;  
}

.image {
    z-index: 9;
    margin: auto;
    padding: 10px;
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 500;
    display: block;
}

.sunglasses {
    margin-top:70px;
    margin-bottom: 20px;
}
.hydra-lense {
    margin-top: 200px;
    margin-bottom: 115px;
}
.male {
    margin-bottom: 20px;
}
.eclipse {
     float: left;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100% - 100px) 0 0);
}

.image-side {
    text-align: center;
    margin-top: 20px;
}
.image th {
    margin-top: 50px;
}

@media screen and (max-width: 800px) {
    .eclipse {
        margin-left:40%;
        margin-top:20px
    }
    .slider {
        width: 100%;
    }
}

/*----Body.js for Slides.js---*/

.bg-color {
    background-color: #EAE6DD;
}


.top-text {
     margin-top: 80px;
}

.top-text h1 {
    font-family: FSLola-Medium;
    font-weight: 500;
}

.top-text .bold {
    font-family: FSLola-Medium;
    font-weight: 500;
}
.left-text h1 {
    font-size: 2em;
    margin: 50px;
    text-align: left;

}

.left-text p {
    margin-top: 30px;
    margin-left:50px;
    text-align: left;
}

.price-info {
    margin-left: 40px;
    margin-top: 60px;
    max-width: 400px;  
   
}

.price-table {
    text-align: left;
    width: 100%;
}

.table-left {
    border-right: #0032A0 2px solid;
    padding-right: 10px;
}
.table-right {
    padding-left: 30px;
}


.button-start {
    padding: 15px 80px 15px 80px;
    background-color:#FE5000;
    color: #FFFF;
    border-radius: 0;
    text-transform: uppercase;
    margin-top: 60px;
    margin-left: 40px;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 90px;

}

.button-start:hover {
    background-color: #DA291C;
    transition: all 0.7s ease-in-out;
}

.right-image{
    margin-bottom: 50px;
    margin-top: 20px;
}

.right-image table{
    height: 50vh;
}


@media screen and (max-width: 800px) {
    
   .left-text {
       width: 95%;
       margin-left: 0!important;
   }
   .button-start {
       width: 100%;
       margin: 20px;
       margin-left: 10px;
   }
   .price-table {
        margin-bottom: 20px;
   }
    
} 